APP_ENV=local
APP_PORT=8008
APP_NAME=circl

DATABASE_URL=postgresql://admin:testpass@localhost:5432/circl
REDIS_URL=redis://localhost:6379

CLIENT_URL=http://localhost:3000
ADMIN_CLIENT_URL=http://localhost:3001

JWT_SIGNUP_SECRET=
JWT_SIGNUP_EXPIRY=15m

ADMIN_JWT_ACCESS_SECRET=
ADMIN_JWT_ACCESS_EXPIRY=15m
ADMIN_JWT_REFRESH_SECRET=
ADMIN_JWT_REFRESH_EXPIRY=14d

AWS_ACCESS_KEY_ID=
AWS_REGION=eu-west-2
AWS_SECRET_ACCESS_KEY=

EMAIL_FROM=
EMAIL_FROM_NAME=
SUPPORT_EMAIL=

RESEND_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=

APPLE_BUNDLE_ID=
APPLE_JWKS_URI=

# Firebase Cloud Messaging (push notifications)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
